<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151655393461-7od5t570ulskco2uggr7d2ik9vdo05up.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151655393461-7od5t570ulskco2uggr7d2ik9vdo05up</string>
	<key>API_KEY</key>
	<string>AIzaSyDplFDqcOjIhwUL2Z-n4xIiL3fJtAQkpAw</string>
	<key>GCM_SENDER_ID</key>
	<string>151655393461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.candichiu.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-8f696</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-8f696.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151655393461:ios:4f8f0d12cc3231c79e36fc</string>
</dict>
</plist>